@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-12">
            <h3 class="mb-0">Bienvenido, @User.Identity.Name</h3>
            <small class="text-muted">Seleccione un módulo para comenzar</small>
        </div>
    </div>


    </div>

